<div class="subreddit-post">
	<section class="header">
		<PostScore @model={{model}} />
		<div class="details">
			<p class="context">
				{{#link-to "subreddit" (subcleaner model.subreddit_name_prefixed) class="text-dark font-weight-bold"}}{{model.subreddit_name_prefixed}}{{/link-to}}
				&middot;
				Posted by {{#link-to "user" model.author.name}}u/{{model.author.name}}{{/link-to}} {{time-ago model.created_utc}}
			</p>
			<h5 class="title">{{model.title}}</h5>
			{{#unless model.is_self}}
				<p><a href={{model.url}} target="_blank" rel="noopener">{{url model.url}}</a></p>
			{{/unless}}
		</div>
	</section>
	<section class="post-body">
		{{#if model.is_self}}
			{{{model.selftext_html}}}
		{{else}}
			<a href={{model.url}} target="_blank" rel="noopener"><img src={{model.url}} alt=""></a>
		{{/if}}
	</section>
	<section class="actions">
		<div class="btn-group btn-group-sm" role="group">
			<button type="button" class="btn btn-outline-primary">0 comments</button>
			<button type="button" class="btn btn-outline-primary">Give Award</button>
			<button type="button" class="btn btn-outline-primary">Share</button>
			<button type="button" class="btn btn-outline-primary">Save</button>
			<button type="button" class="btn btn-outline-primary">Hide</button>
			<button type="button" class="btn btn-outline-primary">Report</button>
		</div>
		<PostActions @model={{model}} @onComments={{action "goToPost"}} />
	</section>
	<section class="compose">
		<textarea class="form-control" rows="4" placeholder="What are your thoughts?"></textarea>
		<button type="button" class="btn btn-sm btn-outline-primary">Comment</button>
	</section>
	<Comments @model={{model.comments}} />
</div>
{{outlet}}
