<div class="row">
	<div class="col-9">
		<p>
			{{#link-to "subreddit" (subcleaner model.subreddit_name_prefixed)}}{{model.subreddit_name_prefixed}}{{/link-to}}
			&middot;
			Posted by u/{{model.author_fullname}}
		</p>
		<h3>{{model.title}}</h3>
		<PostActions @model={{model}} @onComments={{action "goToPost"}} />
		<hr />
		{{#if model.thumbnail}}
			<a href={{model.url}} target="_blank">
				<img  src={{model.url}} class="submission-image" />
			</a>
		{{/if}}
		<hr />

		<div class="form-group">
			<label for="exampleFormControlTextarea1">Example textarea</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		
		<Comments @model={{model.comments}} />
	</div>
	<div class="col-3">
		Subreddit Sidebar
	</div>
</div>
{{outlet}}
