<div class="subreddit-post">
	<section class="header">
		<PostScore @model={{model}} />
		<div class="details">
			<p class="context">
				{{#link-to "subreddit" (subcleaner model.subreddit_name_prefixed) class="text-dark font-weight-bold"}}{{model.subreddit_name_prefixed}}{{/link-to}}
				&middot;
				Posted by {{#link-to "user" model.author.name}}u/{{model.author.name}}{{/link-to}} {{time-ago model.created_utc}}
			</p>
			<h5 class="title">{{model.title}}</h5>
			{{#unless model.is_self}}
				<p><a href={{model.url}} target="_blank" rel="noopener">{{url model.url}}</a></p>
			{{/unless}}
		</div>
	</section>
	<section class="post-body">
		{{#if model.is_self}}
			{{{model.selftext_html}}}
		{{else}}
			<a href={{model.url}} target="_blank" rel="noopener"><img src={{model.url}} alt=""></a>
		{{/if}}
	</section>
	<section class="actions">
		<PostActions @model={{model}} @onComments={{action "goToPost"}} />
	</section>
	<section class="compose">
		<form>
			<div class="form-group">
				<textarea class="form-control" rows="4" placeholder="What are your thoughts?" value={{comment}}></textarea>
			</div>
			<button type="button" class="btn btn-sm btn-outline-primary">Comment</button>
		</form>
	</section>
	{{#if commentsLoading}}
		{{#content-placeholders as |placeholder|}}
			{{placeholder.heading img=true}}
			{{placeholder.text lines=3}}
		{{/content-placeholders}}
	{{else}}
		<Comments @model={{model.comments}} />
	{{/if}}
	
</div>
{{outlet}}
