<div class="subreddit-post">
	<div class="header">
		<PostScore @model={{model}} />
		<div class="details">
			<p class="context">
				{{#link-to "subreddit" (subcleaner model.subreddit_name_prefixed) class="text-dark font-weight-bold"}}{{model.subreddit_name_prefixed}}{{/link-to}}
				&middot;
				Posted by {{#link-to "user" model.author.name}}u/{{model.author.name}}{{/link-to}} {{time-ago model.created_utc}}
			</p>
			<h5 class="title">{{model.title}}</h5>
			{{#unless model.is_self}}
				<p><a href={{model.url}} target="_blank">{{url-helper model.url}}</a></p>
			{{/unless}}
		</div>
	</div>
	
	{{#if model.is_self}}
		<p>{{{model.selftext_html}}}</p>
	{{else}}
		<a href={{model.url}} target="_blank">
			<img  src={{model.url}} class="submission-image" />
		</a>
	{{/if}}
	<br />
	
	<PostActions @model={{model}} @onComments={{action "goToPost"}} />
	
	<br />
	
	<div class="form-group">
		<label for="comment">Comment</label>
		<textarea class="form-control" id="comment" rows="3" placeholder="What are your thoughts?"></textarea>
	</div>
	
	<hr />
	<Comments @model={{model.comments}} />
</div>
{{outlet}}
