<div class="d-flex flex-column flex-md-row align-items-center px-3 py-2 bg-white border-bottom shadow-sm" style="-webkit-app-region:drag; position:relative; z-index:50;">
	<h5 class="my-0 mr-4 font-weight-normal">{{#link-to "index" class="text-dark"}}<i class="fa fa-rocket pr-1"></i> {{config "APP.name"}}{{/link-to}}</h5>
	<nav class="mr-4">
		<div class="btn-group" role="group">
			{{#if currentFeed}}
				<button type="button" class="btn btn-outline-primary">/{{currentFeed}}</button>
				<button type="button" class="btn btn-outline-primary"><i class="fa fa-caret-down"></i></button>
			{{/if}}
			{{#if currentSubreddit}}
				<button type="button" class="btn btn-outline-primary" {{action "goToSubreddit" currentSubreddit}}>/r/{{currentSubreddit}}</button>
				<button type="button" class="btn btn-outline-primary"><i class="fa fa-caret-down"></i></button>
				<button type="button" class="btn btn-outline-primary" {{action "popSubreddit"}}><i class="fa fa-times"></i></button>
				<button type="button" class="btn btn-outline-primary">/hot</button>
			{{/if}}
			{{#if currentPost}}
				<button type="button" class="btn btn-outline-primary">/{{currentPost}}</button>
				<button type="button" class="btn btn-outline-primary" {{action "popPost"}}><i class="fa fa-times"></i></button>
			{{/if}}
		</div>
	</nav>
	<form class="form-inline mr-auto">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	</form>
	<nav class="mr-3">
		<a class="p-2 text-dark" href="#">Moderation</a>
		<a class="p-2 text-dark" href="#">Chat</a>
		<a class="p-2 text-dark" href="#">Messages</a>
		<a class="p-2 text-dark" href="#">Create Post</a>
	</nav>
	<a class="btn btn-outline-primary" href="#">{{authenticatedUser}}</a>
</div>
<div class="container-fluid">
	<div class="row">
		{{#subreddit-list/table api=model model=subreddits onFeed=(action "goToFeed") onSubreddit=(action "goToSubreddit")}}{{/subreddit-list/table}}
		<div class="col-10">
			{{outlet}}
		</div>
	</div>
</div>

{{!-- notifications --}}
{{notification-container position="bottom-left"}}

{{!-- modals --}}
{{#modals/welcome-comp}}{{/modals/welcome-comp}}
{{#modals/login isVisible=false}}{{/modals/login}}
