<div class="row">
	<div class="{{unless currentPost "col-9" "col-4"}} pr-0">
		<ScrollContainer>
			<Posts @model={{model}} @active={{currentPost}} @onSelection={{action "goToPost"}} />
		</ScrollContainer>
	</div>
	{{#unless currentPost}}
		<div class="col-3 pl-0">
			<ScrollContainer>
				<Panel>
					{{#unless currentPost}}
						<!-- <Sidebar></Sidebar> -->
						<h4>r/{{!model.display_name}}</h4>
						<h6>Subscribers: {{!model.subscribers}}</h6>
						<h6>Online: {{!model.active_user_count}}</h6>
						<p>{{!model.public_description}}</p>
					{{else}}
						{{outlet}}
					{{/unless}}
				</Panel>
			</ScrollContainer>
		</div>
	{{else}}
		<div class="col-8 px-0">
			<ScrollContainer>
				<Panel>
					{{outlet}}
				</Panel>
			</ScrollContainer>
		</div>
	{{/unless}}
</div>
