<div class="row">
	<div class="col-9">
		{{outlet}}
	</div>
	<div class="col-3">
		<Sidebar>
			<h4>r/{{model.display_name}}</h4>
			<h5>Subscribers: {{model.subscribers}}</h5>
			<h5>Online: {{model.active_user_count}}</h5>
			<p>{{model.public_description}}</p>
		</Sidebar>
	</div>
</div>
