<div class="row">
	<div class="{{unless currentPost "col-9" "col-4"}}">
		<!-- {{outlet}} -->
		<Posts @model={{model}} @active={{currentPost}} @onSelection={{action "goToPost"}} />
	</div>
	<div class="{{unless currentPost "col-3" "col-8"}} pl-0 ml-0">
		<Panel>
			{{#unless currentPost}}
				<Sidebar>
					Subreddit
					<!-- <h4>r/{{model.display_name}}</h4>
					<h5>Subscribers: {{model.subscribers}}</h5>
					<h5>Online: {{model.active_user_count}}</h5>
					<p>{{model.public_description}}</p> -->
				</Sidebar>
			{{else}}
				{{outlet}}
			{{/unless}}
		</Panel>
	</div>
</div>
