<div class="route-subreddit row">
	<div class="col-9 px-0">
		<ScrollContainer class="panel">
			{{outlet}}
		</ScrollContainer>
	</div>
	<div class="col-3 px-0">
		<ScrollContainer class="panel p-3">
			<!-- style="color:{{if subredditInfo.banner_background_color subredditInfo.banner_background_color "black"}}" -->
			<h4>r/{{model.display_name}}</h4>
			<h6>Subscribers: {{number model.subscribers}}</h6>
			<h6>Online: {{number model.active_user_count}}</h6>
			<p>{{model.public_description}}</p>
			<button type="button" class="btn btn-block btn-outline-primary">Subscribe</button>
			<button type="button" class="btn btn-block btn-outline-primary">Create Post</button>
		</ScrollContainer>
	</div>
</div>
